@import './font.css';


*,::before,::after{
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	color: #313840;
	font-family: 'Neue Regular', sans-serif;
}

p{
	margin: 0;
	color: #808080;
	font-size: 16px;
	letter-spacing: 0.1px;
	font-family: 'Inter', sans-serif;
}

.small{
	font-size: 14px;
}

h1{
	font-size: 46px;
	line-height: 145%;
	letter-spacing: 2px;
	font-family: 'Neue Regular';
}

h2{
	font-size: 38px;
	line-height: 150%;
	letter-spacing: 1px;
}

h3{
	font-size: 22px;
	line-height: 170%;
	letter-spacing: 0.8px;
}

h4{
	font-size: 20px;
	letter-spacing: 0.6px;
	line-height: 150%;
}

ul{
	padding: 0;
	list-style: none;
	text-decoration: none;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	font-family: 'Neue Regular', sans-serif;
}

section{
	margin-top: 175px;
}

body{
	font-family: 'Neue Regular', sans-serif;
}

.high{
	color: #5A56E9;
}

.under{
	font-size: 72px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
